h1 {
  color: #fe8000ff;
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #eef0e9ff;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #eef0e9ff;
}

p {
  color: #fe8000ff;
}
