@font-face {
  font-family: 'Pbio';
  src: local('Pbio'), url('../assets/fonts/pbio-bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  display: flex;
  justify-content: center;
  font-family: 'Pbio', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eef0e9ff;
  background-color: #5e677cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* CSS HEX */
/* --alabaster: #E3E5DCff;
--delft-blue: #243459ff;
--penn-red: #9E0E06ff;
--alabaster-2: #EEF0E9ff;
--paynes-gray: #5E677Cff;
--orange-wheel: #FE8000ff; */
